PORT=3000
TEACHER_PASSCODE=123Password,./
GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbyvnnMRVtTdCtH3OWY21ESHLfDGBCCThEDnh8xXkw-Xk6qGwEroDKBIvryXSL3O6bp3/exec
# Set this to the deployed browser origin in production.
ALLOWED_ORIGIN=http://localhost:3000